@import "../../styles/variables/colors.scss";

.container {
  max-width: 100vw;
  max-height: 100vh;
  background-color: $primary-color;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
}

.backToHome {
  margin: 3rem 0 0;
}